In [194]:
import pandas as pd
import psycopg2
import requests
import config
import json

In [195]:
#Make api request for data
url = "https://www.fruityvice.com/api/fruit/all"
data = requests.get(url).json()

In [196]:
#Extract data from the Json format and insert first into a dictionary then a DF
dic = {"genus":[], 
        "fruit":[],
        "family":[],
        "order":[],
        "id":[]}

for fruit in data:
            dic["genus"].append(fruit["genus"])
            dic["fruit"].append(fruit["name"])
            dic["family"].append(fruit["family"])
            dic["order"].append(fruit["order"])
            dic["id"].append(fruit["id"])

fruits = pd.DataFrame(dic)

In [197]:
dic1 = {"carbohydrates":[],
        "protein":[],
        "fat":[],
        "calories":[],
        "sugar":[],
        "id":[]}

for fruit in data:
    dic1["carbohydrates"].append(fruit["nutritions"]["carbohydrates"])
    dic1["protein"].append(fruit["nutritions"]["protein"])
    dic1["fat"].append(fruit["nutritions"]["fat"])
    dic1["calories"].append(fruit["nutritions"]["calories"])
    dic1["sugar"].append(fruit["nutritions"]["sugar"])
    dic1["id"].append(fruit["id"])

nutrients = pd.DataFrame(dic1)

In [198]:
#Setup the connection to the database to pass the query, connection details have been changed to default ones
def query(query:str):
    connection = psycopg2.connect(database="database",
                            user="username",
                            password="password")

    cursor = connection.cursor()
    cursor.execute(query)
    # result = cursor.fetchall()
    connection.commit()
    # return result
    cursor.close()
    connection.close()
    print("Connection to the database has been closed")

In [199]:
#Pass queries to create tables
query(query ="""CREATE TABLE fruits(
                    ID INTEGER NOT NULL,
                    fruit VARCHAR(40),
                    genus VARCHAR(40),
                    fruit_family VARCHAR(40),
                    fruit_order VARCHAR(40),
                    PRIMARY KEY (ID)
                    );
             """
                );


query(query ="""CREATE TABLE nutrients(
                ID INTEGER PRIMARY KEY NOT NULL,
                carbohydrates INTEGER,
                protein INTEGER,
                fat INTEGER,
                calories INTEGER,
                sugar INTEGER,
                FOREIGN KEY (ID) REFERENCES fruits(ID) ON DELETE CASCADE
                );
             """)

DuplicateTable: ERRORE:  la relazione "fruits" esiste già

In [200]:
#Using this method it would be necessary to iterate through the DF rows and insert one by one. However, Pandas provide a better way to do it with the dataframe.to_sql function
#Let's drop all tables first
query(query="""DROP TABLE fruits, nutrients;""")

Connection to the database has been closed

In [201]:
#Let's build the engine and pass the dataframes to SQL
from sqlalchemy import create_engine
engine = create_engine("postgresql://username:password@localhost:5432/database")
fruits.to_sql("fruits", con = engine, if_exists="replace", index=False)
nutrients.to_sql("nutrients", con = engine, if_exists="replace", index=False)

In [202]:
#Let's check if the dataframes have been correctly exported to the database
pd.read_sql("fruits", con = engine)
# pd.read_sql("nutrients", con = engine)

        genus        fruit           family             order  id
0       Malus        Apple         Rosaceae           Rosales   6
1      Prunus      Apricot         Rosaceae           Rosales  35
2        Musa       Banana         Musaceae      Zingiberales   1
3       Rubus   Blackberry         Rosaceae           Rosales  64
4    Fragaria    Blueberry         Rosaceae           Rosales  33
5      Prunus       Cherry         Rosaceae              None   9
6       Durio       Durian        Malvaceae          Malvales  60
7       Ficus          Fig         Moraceae           Rosales  68
8       Ribes   Gooseberry  Grossulariaceae      Saxifragales  69
9       Vitis       Grapes         Vitaceae           Vitales  47
10    Psidium        Guava        Myrtaceae          Myrtales  37
11    Apteryx         Kiwi    Actinidiaceae  Struthioniformes  66
12     Citrus        Lemon         Rutaceae        Sapindales  26
13     Citrus         Lime         Rutaceae        Sapindales  44
14  Vaccinium  Lingonberry        Ericaceae          Ericales  65
15     Litchi       Lychee      Sapindaceae        Sapindales  67
16  Mangifera        Mango    Anacardiaceae        Sapindales  27
17    Cucumis        Melon    Cucurbitaceae     Cucurbitaceae  41
18     Citrus       Orange         Rutaceae        Sapindales   2
19     Carica       Papaya       Caricaceae         Caricacea  42
20      Pyrus         Pear         Rosaceae           Rosales   4
21  Diospyros    Persimmon        Ebenaceae           Rosales  52
22     Ananas    Pineapple     Bromeliaceae            Poales  10
23      Rubus    Raspberry         Rosaceae           Rosales  23
24   Fragaria   Strawberry         Rosaceae           Rosales   3
25    Solanum       Tomato       Solanaceae         Solanales   5
26  Citrullus   Watermelon    Cucurbitaceae      Cucurbitales  25

In [204]:
#Build function to return query results from database
def select(query:str):
    connection = psycopg2.connect(database="database",
                            user="username",
                            password="password")

    cursor = connection.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    connection.commit()
    cursor.close()
    connection.close()
    return result

In [205]:
#Let's run some EDA on the database, let's first check the number of rows inside the dataframe
select(query="""SELECT COUNT(*)
                FROM fruits;""")

[(27,)]

In [206]:
#Let's check the number of families and of genuses of the fruits
print("Number of families: ", select(query="""SELECT COUNT(DISTINCT(family))
                FROM fruits;"""))

print("Number of genuses: ", select(query="""SELECT COUNT(DISTINCT(genus))
                FROM fruits;"""))

Number of families:  [(17,)]
Number of genuses:  [(22,)]

In [207]:
#Let's groupby the fruits according to the their families of belonging
select(query="""SELECT fruit, family     
                FROM fruits;""")

[('Apple', 'Rosaceae'),
 ('Apricot', 'Rosaceae'),
 ('Banana', 'Musaceae'),
 ('Blackberry', 'Rosaceae'),
 ('Blueberry', 'Rosaceae'),
 ('Cherry', 'Rosaceae'),
 ('Durian', 'Malvaceae'),
 ('Fig', 'Moraceae'),
 ('Gooseberry', 'Grossulariaceae'),
 ('Grapes', 'Vitaceae'),
 ('Guava', 'Myrtaceae'),
 ('Kiwi', 'Actinidiaceae'),
 ('Lemon', 'Rutaceae'),
 ('Lime', 'Rutaceae'),
 ('Lingonberry', 'Ericaceae'),
 ('Lychee', 'Sapindaceae'),
 ('Mango', 'Anacardiaceae'),
 ('Melon', 'Cucurbitaceae'),
 ('Orange', 'Rutaceae'),
 ('Papaya', 'Caricaceae'),
 ('Pear', 'Rosaceae'),
 ('Persimmon', 'Ebenaceae'),
 ('Pineapple', 'Bromeliaceae'),
 ('Raspberry', 'Rosaceae'),
 ('Strawberry', 'Rosaceae'),
 ('Tomato', 'Solanaceae'),
 ('Watermelon', 'Cucurbitaceae')]

In [208]:
#Let's count the number of fruits pertaining to each family
select(query = """SELECT family,
                    COUNT(fruit)
                FROM fruits
                GROUP BY family;""")

[('Anacardiaceae', 1),
 ('Sapindaceae', 1),
 ('Actinidiaceae', 1),
 ('Musaceae', 1),
 ('Malvaceae', 1),
 ('Rutaceae', 3),
 ('Rosaceae', 8),
 ('Ericaceae', 1),
 ('Grossulariaceae', 1),
 ('Caricaceae', 1),
 ('Bromeliaceae', 1),
 ('Vitaceae', 1),
 ('Moraceae', 1),
 ('Ebenaceae', 1),
 ('Solanaceae', 1),
 ('Myrtaceae', 1),
 ('Cucurbitaceae', 2)]

In [209]:
#Let's see which fruit pertain to the Rosaceae family
select(query = """SELECT fruit
                FROM fruits
                WHERE family = 'Rosaceae';""")

[('Apple',),
 ('Apricot',),
 ('Blackberry',),
 ('Blueberry',),
 ('Cherry',),
 ('Pear',),
 ('Raspberry',),
 ('Strawberry',)]

In [210]:
#Let's count the number of fruits that share the same genus
select(query = """SELECT genus, 
                    COUNT(fruit)
                FROM fruits
                GROUP BY genus;""")

[('Citrus', 3),
 ('Solanum', 1),
 ('Durio', 1),
 ('Musa', 1),
 ('Ficus', 1),
 ('Ribes', 1),
 ('Vaccinium', 1),
 ('Rubus', 2),
 ('Diospyros', 1),
 ('Fragaria', 2),
 ('Apteryx', 1),
 ('Citrullus', 1),
 ('Vitis', 1),
 ('Litchi', 1),
 ('Carica', 1),
 ('Psidium', 1),
 ('Malus', 1),
 ('Cucumis', 1),
 ('Pyrus', 1),
 ('Mangifera', 1),
 ('Prunus', 2),
 ('Ananas', 1)]

In [211]:
#Let's see which fruit have the Citrus genus
select(query = """SELECT fruit
                FROM fruits
                WHERE genus = 'Citrus';""")

[('Lemon',), ('Lime',), ('Orange',)]

In [212]:
#Let's join the table fruits and nutrients
select(query="""SELECT *
                FROM fruits
                INNER JOIN nutrients ON fruits.id=nutrients.id;""")

[('Malus', 'Apple', 'Rosaceae', 'Rosales', 6, 11.4, 0.3, 0.4, 52, 10.3, 6),
 ('Prunus', 'Apricot', 'Rosaceae', 'Rosales', 35, 3.9, 0.5, 0.1, 15, 3.2, 35),
 ('Musa',
  'Banana',
  'Musaceae',
  'Zingiberales',
  1,
  22.0,
  1.0,
  0.2,
  96,
  17.2,
  1),
 ('Rubus',
  'Blackberry',
  'Rosaceae',
  'Rosales',
  64,
  9.0,
  1.3,
  0.4,
  40,
  4.5,
  64),
 ('Fragaria',
  'Blueberry',
  'Rosaceae',
  'Rosales',
  33,
  5.5,
  0.0,
  0.4,
  29,
  5.4,
  33),
 ('Prunus', 'Cherry', 'Rosaceae', 'None', 9, 12.0, 1.0, 0.3, 50, 8.0, 9),
 ('Durio',
  'Durian',
  'Malvaceae',
  'Malvales',
  60,
  27.1,
  1.5,
  5.3,
  147,
  6.75,
  60),
 ('Ficus', 'Fig', 'Moraceae', 'Rosales', 68, 19.0, 0.8, 0.3, 74, 16.0, 68),
 ('Ribes',
  'Gooseberry',
  'Grossulariaceae',
  'Saxifragales',
  69,
  10.0,
  0.9,
  0.6,
  44,
  0.0,
  69),
 ('Vitis',
  'Grapes',
  'Vitaceae',
  'Vitales',
  47,
  18.1,
  0.72,
  0.16,
  69,
  15.48,
  47),
 ('Psidium',
  'Guava',
  'Myrtaceae',
  'Myrtales',
  37,
  14.0,
  2.6,
  1.0,
  68,
  9.0,
  37),
 ('Apteryx',
  'Kiwi',
  'Actinidiaceae',
  'Struthioniformes',
  66,
  15.0,
  1.1,
  0.5,
  61,
  9.0,
  66),
 ('Citrus', 'Lemon', 'Rutaceae', 'Sapindales', 26, 9.0, 1.1, 0.3, 29, 2.5, 26),
 ('Citrus', 'Lime', 'Rutaceae', 'Sapindales', 44, 8.4, 0.3, 0.1, 25, 1.7, 44),
 ('Vaccinium',
  'Lingonberry',
  'Ericaceae',
  'Ericales',
  65,
  11.3,
  0.75,
  0.34,
  50,
  5.74,
  65),
 ('Litchi',
  'Lychee',
  'Sapindaceae',
  'Sapindales',
  67,
  17.0,
  0.8,
  0.44,
  66,
  15.0,
  67),
 ('Mangifera',
  'Mango',
  'Anacardiaceae',
  'Sapindales',
  27,
  15.0,
  0.82,
  0.38,
  60,
  13.7,
  27),
 ('Cucumis',
  'Melon',
  'Cucurbitaceae',
  'Cucurbitaceae',
  41,
  8.0,
  0.0,
  0.0,
  34,
  8.0,
  41),
 ('Citrus', 'Orange', 'Rutaceae', 'Sapindales', 2, 8.3, 1.0, 0.2, 43, 8.2, 2),
 ('Carica',
  'Papaya',
  'Caricaceae',
  'Caricacea',
  42,
  11.0,
  0.0,
  0.4,
  43,
  1.0,
  42),
 ('Pyrus', 'Pear', 'Rosaceae', 'Rosales', 4, 15.0, 0.4, 0.1, 57, 10.0, 4),
 ('Diospyros',
  'Persimmon',
  'Ebenaceae',
  'Rosales',
  52,
  18.0,
  0.0,
  0.0,
  81,
  18.0,
  52),
 ('Ananas',
  'Pineapple',
  'Bromeliaceae',
  'Poales',
  10,
  13.12,
  0.54,
  0.12,
  50,
  9.85,
  10),
 ('Rubus',
  'Raspberry',
  'Rosaceae',
  'Rosales',
  23,
  12.0,
  1.2,
  0.7,
  53,
  4.4,
  23),
 ('Fragaria',
  'Strawberry',
  'Rosaceae',
  'Rosales',
  3,
  5.5,
  0.8,
  0.4,
  29,
  5.4,
  3),
 ('Solanum',
  'Tomato',
  'Solanaceae',
  'Solanales',
  5,
  3.9,
  0.9,
  0.2,
  74,
  2.6,
  5),
 ('Citrullus',
  'Watermelon',
  'Cucurbitaceae',
  'Cucurbitales',
  25,
  8.0,
  0.6,
  0.2,
  30,
  6.0,
  25)]

In [213]:
#Let's sort, in a descending order, fruits based on their level of proteins and get the five fruits with the highest level of proteins
select(query="""SELECT fruits.fruit, nutrients.protein
                FROM fruits
                INNER JOIN nutrients ON fruits.id=nutrients.id
                ORDER BY nutrients.protein DESC
                LIMIT 5;""")

[('Guava', 2.6),
 ('Durian', 1.5),
 ('Blackberry', 1.3),
 ('Raspberry', 1.2),
 ('Kiwi', 1.1)]

In [214]:
#Let's pick all fruits high in carbohydrates, which we define as having at least 15 grams of carbs in it
select(query="""SELECT fruits.fruit, nutrients.carbohydrates
                FROM fruits
                INNER JOIN nutrients ON fruits.id=nutrients.id
                WHERE nutrients.carbohydrates >= 15
                ORDER BY nutrients.carbohydrates DESC;""")

[('Durian', 27.1),
 ('Banana', 22.0),
 ('Fig', 19.0),
 ('Grapes', 18.1),
 ('Persimmon', 18.0),
 ('Lychee', 17.0),
 ('Mango', 15.0),
 ('Pear', 15.0),
 ('Kiwi', 15.0)]

In [215]:
#Let's pick the fruit which has the highest amount of sugar
select(query="""SELECT fruits.fruit, nutrients.sugar
                FROM fruits
                INNER JOIN nutrients ON fruits.id=nutrients.id
                WHERE nutrients.sugar = (SELECT MAX(nutrients.sugar)
                        FROM nutrients);""")

[('Persimmon', 18.0)]